---
---
<header class="bg-transparent">
    <div class="container mx-auto max-w-lg p-4 flex justify-between items-center">
        <a href="/" class="flex items-center gap-2 text-teal-400 hover:text-white transition">
            <img src="/images/vrcafe-logo.png" alt="VRcafe" class="h-8 w-auto" />
            <span class="text-xl font-extrabold text-vr-accent">VRcafe Takenlijst</span>
        </a>
        <span class="text-sm text-gray-200 hidden sm:block">
            De website van VRcafee
        </span>
    </div>
</header>